<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compileBitcode</key>
	<false/>
	<key>destination</key>
	<string>export</string>
	<key>method</key>
	<string>release-testing</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.matcha.app</key>
		<string>matcha_ac_hot</string>
	</dict>
	<key>signingCertificate</key>
	<string>FDDE33ED976FABFDEC09DB315CF411C58A9C47C0</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>XHQPP7KZ8Y</string>
	<key>thinning</key>
	<string>&lt;none&gt;</string>
</dict>
</plist>
